@font-face {
    font-family: 'james_stroker';
    src: url('fonts/jamesstroker-jezmo-webfont.woff2') format('woff2'),
         url('fonts/jamesstroker-jezmo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_regular';
    src: url('fonts/firasans-regular-webfont.woff2') format('woff2'),
         url('fonts/firasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    position: absolute;

    margin: 0;

    width: 100%;
    height: 100%;
}

.background {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url("images/bg-720.jpg");
    background-size: cover;
}

.water {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url("images/bg-720-mask.png");
    background-size: cover;
    filter: url("#turbulence");
}

svg.animation {
    /* Force hardware acceleration */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.main {
    position: absolute;

    z-index: 100;

    top: 0;
    left: 0;
    width: 100%;

    text-align: center;
}

.content {
    display: inline-block;

    overflow-y: auto;

    max-height: 500px;

    margin-top: 30px;
    margin-left: 16px;
    margin-right: 16px;

    padding: 24px;
    padding-left: 32px;
    padding-right: 32px;

    background: rgba(45, 45, 45, 0.9);

    border-radius: 8px;

    color: white;
    font-family: 'fira_sans_regular';
    font-size: 1rem;

    text-align: left;
}

::-webkit-scrollbar {
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: rgba(45, 45, 45, 0.9);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.title {
    width: 100%;

    color: white;
    font-family: 'james_stroker';
    font-weight: 500;
    font-size: 4rem;

    text-align: center;

    padding-top: 32px;
    padding-bottom: 16px;
}

.profile {
    width: 100px;
    margin-left: calc(50% - 50px);
    border-radius: 50px;
}

p {
    margin-bottom: 2rem;
}

.links {
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.link {
    display: flex;
    align-items: center;

    color: white;
    text-decoration: none;

    font-size: 0.875rem;

    margin-right: 16px;
}

.linkedInLink {
    display: flex;
    align-items: flex-end;
}

.linkIcon {
    margin-right: 8px;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 3rem;

        padding-top: 24px;
        padding-bottom: 24px;
    }

    .links {
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .link {
        margin-bottom: 16px;
    }
}